<h1>All Quizzes</h1>
<p><a href="/quizzes/new" class="new-quiz">Create a new quiz!</a></p>

<!-- if an instructor is logged in -->
<!-- show a list of all quizzes -->
<% if @instructor %>
  <ul>
   <% @quizzes.each do |quiz| %>
    <li>
      <h3><a href="/quizzes/<%= quiz[:id] %>"><%= quiz[:test_day] %></a></h3>
    </li>
   <% end %>
  </ul>
<!-- else if student is logged in, show a list of all quizzes THEY have taken -->
<% elsif @student %>
  <ul>
    <% @quizzes.responses.student.each do |quiz| %> <!-- HELP! -->
    <li>
      <h3><a href="/quizzes/<%= quiz[:id] %>"><%= quiz[:test_day] %></a></h3>
    </li>
    <% end %>
  </ul>
<% end %>