<h1>Quiz <%= @quiz.test_day %> </h1>
<h2> Answer Key</h2>

<body>
  
  <ul>
  <% @quiz_questions.each do |quiz_question| %>
    <ul> <%= @quiz_question %>
      <li> <%= @quiz_question.answers %> </li>
    </ul>
  <% end %>
  </ul>

</body>